@font-face {
  font-family: "Termina";
  src: url("../assets/fonts/TerminaTest-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Termina";
  src: url("../assets/fonts/TerminaTest-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Termina";
  src: url("../assets/fonts/TerminaTest-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Termina";
  src: url("../assets/fonts/TerminaTest-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
