@import "../../styles/variables/colors.module";

.navItem {
  font-size: clamp(6px, 7vw, 12px);
  font-weight: 400;
  line-height: 30px;
  color: $textColor;
  opacity: 66%;
  text-decoration: none;
  white-space: nowrap;
}
