@import "../../styles/variables/mixins.module";
@import "../../styles/variables/colors.module";

.wrapper {
  width: 100%;
}
.headerWrapper {
  width: 90%;
  height: 50px;
  @include flex(space-between, center);
  border: 1px solid $mainBackgroundColor;
  margin-inline: auto;
  margin-top: 42px;
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    height: auto;
  }
}
