@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin flexColumn($justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin sharedButtonMixin($width, $height) {
  width: $width;
  height: $height;
  font-size: 18px;
  background-color: $blue-btn-color;
  color: $white-text-color;
  border: none;
  border-radius: 30px;
  &:hover {
    background-color: $blue-btn-hover-color;
    cursor: pointer;
  }
}
